.admin{
  
    width: 80%;
    height: 90vh;
    position: relative;
    left: 0;
    margin: 2rem auto;
    display: flex;
    gap: 10rem;
    
}
.admin h1{
    text-align: center;
    border-bottom: 1px solid gray;
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    background-color: rgb(10, 122, 85);
}
.admin aside{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    align-items: center;
    
    
}

.admin aside a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    width: 100%;
    border: 1px solid black;
    padding: 0.2rem;
    border-radius: 1rem;
    text-align: center;
    transition: all 0.5s ease;
}
.admin aside a:hover{
    background: rgb(0, 192, 86);
    color: white;
    transform: scale(1.1);
    
}
.right{
    display: flex;
    row-gap: 0;
    column-gap: 2rem;
    flex-wrap: wrap;
}
.right>div{
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 7px 0px;
    height: 200px;
}
.right>div h1,h3{
    text-align: center;
    font-size: 1.4rem;
    color: rgb(8, 177, 8);
}